.popup {
  position: fixed;
  top: 10%;
  left: 30vh;
  right: auto;
  background: white;
  width: 75vh;
  height: 80vh;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 10% 10%  minmax(10%, 80%) 10%;
  overflow-y: scroll;
  grid-template-areas: 
       ". . . "
       ". title title"
       ". property property"
       ". comment comment";


}
.title {
  grid-area: title;
}

.main-modal {
  grid-area: property;
}
.property {
  margin-bottom: 15px;
}
.note-property {
  border: none;
  background: none;
  width: 210px;
  text-align: start; 
  padding: 5px 0;
  font-size: 1.1em;
  margin-right: 7px;
}
.note-property p {
  padding: 0;
  margin: 0;
  background-color: teal;
  border-radius: 2px;
  font-size: .9em;
  width: 150px;
  margin-left: 7px;
  padding: 4px 0;
  padding-left: 2px;
  text-transform: uppercase;
}
.comment {
  border-bottom: 1px solid gray;
  margin-top: 5%;
  border-top: 1px solid gray;
  grid-area: comment;

}

.note-property:hover {
  background: gray;
  border-radius: 2px;
}

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  opacity: 1;
  background-color: rgba(0,0,0,0.35);
}
