.noteItem {
  width: 300px;
  background-color: white;
  margin-left: 15%;
  border-radius: 3px;
  border: 1.3px solid rgb(220,220,220);
  margin-bottom: 5px;
}
.title {
  font-weight: bold;
  margin-left: 10px;

}
.noteItem .status {
  margin-left: 10px;
  border-radius: 3px;
}
span {
  background-color: #ffa9a9;
}
.note-detail {
  background-color: white;
  width: 15%;
  margin-left: 10px;
  border-radius: 3px;
}
.noteItem:hover {
  background-color: rgb(220,220,220);
  transition: background-color .2s;
}
