.container {
  border: 10px solid;
  display: grid;
  height:100vh;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
        "sidebar header header header header"
        "sidebar header header header header"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content";
}
.item1 {
}

.sidebar {
  background: red;
  grid-area: sidebar;
}
.sidebar-hidden {
  display: none;

}
.header {
  background-color: black;
  grid-area: header;

}
.content {
  background: blue;
  grid-area: content;

}
