@import url('https://css.gg/chevron-double-left-r.css');
@import url('https://css.gg/chevron-double-right-r.css');

* {
  box-sizing: border-box;
  }

.layout {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  flex: 1;
}

.outlet {
  width: 30%;
  margin-left: 20%;
  order: 3;
}
.sidebar {
  background-color: rgb(30, 50, 92);
  width: 200px;
  order: 1;
  height: 500px;
  border: solid;
  margin: 0;
}
.sidebar:hover {
  background-color: rgb(35, 55, 97);

}
.header {
  width: 20%;
  display: flex;
  order: 2;
  flex-wrap: nowrap;
  flex: 1;
}
.share {
  width: 100px;
  margin-left: auto;
  margin-top: 30px;

}
button {
  box-shadow: none;
  border: none;
  padding: 0;
  background-color: none;
  border: none;
}
.sidebar-button {
  float: right;
  margin-right: 20px;
  background-color: rgb(30, 50, 92);
  padding-top: 30px;
}

.hidden-sidebar-button {
  float: none;
  position: fixed;
  top: 5px;
  left: 5px;
}

.hidden {
  display: none;
}
