@import url('https://css.gg/chevron-double-left-r.css');
@import url('https://css.gg/chevron-double-right-r.css');
.container {
  border: 10px solid;
  display: grid;
  height:100vh;
  grid-template-columns: .7fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
        "sidebar header header header header"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content";
}

.sidebar {
  background: red;
  grid-area: sidebar;
}
.sidebar-button {
  margin-right: 5%;
  margin-left: -3%;
}
.container-hidden-sidebar {
  grid-template-areas: 
        "header header header header header"
        "content content content content content"
        "content content content content content"
        "content content content content content"
        "content content content content content";

}
.sidebar-hidden {
  display: none;
}
.header {
  background-color: gray;
  grid-area: header;

}
.content {
  background: blue;
  grid-area: content;

}
